@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer components {
  .custom-class {
    @apply ...;
  }
}*/

* {
    --brand-color_1: #00ff99;
    --brand-color_2: #00ccff;
    --brand-color_3: #9933ff;
    --brand-color_4: tomato;
    --brand-color_5: #fff35c;
    --brand-color_6: #8429de;
    box-sizing: border-box;
  }
  .Gif:nth-child(5n + 1)  {
    background-color: var(--brand-color_1);
  }
  .Gif:nth-child(5n + 2)  {
    background-color: var(--brand-color_2);
  }
  .Gif:nth-child(5n + 3)  {
    background-color: var(--brand-color_3);
  }
  .Gif:nth-child(5n + 4)  {
    background-color: var(--brand-color_4);
  }
  .Gif:nth-child(5n + 5)  {
    background-color: var(--brand-color_5);
  }

 